<a href="{{ url }}"><img src="{{ img_src }}" alt="{{ excerpt }}" data-thumb="{{ thumb_src }}" data-transition="" alt="" title="{{ excerpt }}"  />
    {% if show_title %} {{ title }} {% endif %}
</a>