<div class="{{ marquee_wrapper }} id="{{ marquee_id }}">
    {{ data }}
</div>
<script type="text/javascript">
    jQuery(function($){
        //see more at js/libraries/marquee/everwebcodebox/README.md
        var $marquee = $(".{{ marquee_wrapper }}").marquee({{ json_config }});
        $(".<?php echo $marquee_wrapper?>").hover(function(){
            $marquee.marquee("pause");
        }, function(){
            $marquee.marquee("resume")
        });
    });
</script>